.cursor {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background-color: var(--main-color);
  transition: width 0.3s ease, height 0.3s ease, transform 0.1s ease,
    left 0.1s ease;
}
.cursorOutline {
  position: fixed;
  z-index: 999999;
  width: 40px;
  height: 40px;
  top: -15px;
  left: -15px;
  pointer-events: none;
  border: 5px solid var(--main-color);
  transition: width 0.3s ease, height 0.3s ease, transform 0.13s ease,
    left 0.2s ease;
}
@media screen and (max-width: 849px) {
  .cursor,
  .cursorOutline {
    display: none;
  }
}
