.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
}

.cursorHovering {
  position: fixed;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
}
