.experience span {
  background-color: var(--main-color);
  color: white;
  padding: 0.3rem 0.6rem;
  margin: 10px;
  position: relative;
  bottom: 3px;
}

.experience h3 {
  font-size: 2rem;
  font-weight: 500;
  display: inline;
}
@media screen and (min-width: 1440px) {
  .experiences h2 {
    font-size: 10rem;
    margin-top: -50px;
  }
}
