:root {
  --main-color: #416aff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}
body {
  width: 100%;
  box-sizing: border-box;
}

body::before {
  content: "";
  z-index: 999999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 35px solid var(--main-color);
}
