:root {
  --main-color: #416aff;
  --secondary-color: #6586ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::after {
  content: "";
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 35px solid var(--main-color);
}
@media screen and (max-width: 849px) {
  body::after {
    bottom: 0px;
    border: 20px solid var(--main-color);
  }
}
